<div class="page-sidebar" id="main-menu">
	<div class="page-sidebar-wrapper">
		<ul>
			<li class="start">
				<a href="#"><i class="fa fa-home"></i> <span class="title">Dashboard</span></a> 				
			</li>
			<li>
				<a href="#"><i class="fa fa-users"></i> <span class="title">Patient</span> <span class="selected"></span> <span class="arrow"></span> </a> 
				<ul class="sub-menu" style="overflow: hidden; display: none;">
					<li class="active"> <a href="dashboard_v1.html"> Dashboard v1 </a> </li>
					<li> <a href="index.html "> Dashboard v2 <span class=" label label-info pull-right m-r-30">NEW</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>