// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
  font-size: 100%;
  height: 100%;
}
body {
  direction: ltr;
  background-color: #1b1e24;
  color: #6f7b8a;
  font-family: 'Arial';
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}
.header {
  -webkit-transition: -webkit-transform 0.3s ease, left 0.3s ease, right 0.3s ease;
  transition: transform 0.3s ease,left  0.3s ease, right  0.3s ease;
  padding: 0 !important;
  margin: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  min-height: 60px;
  left: 0;
  -webkit-backface-visibility: hidden;
}
.header .navbar-inner {
  background-image: none !important;
  background-color: #ffffff !important;
  width: 100%;
  margin: 0;
  border: 0px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
}
.header .navbar-inner [class*="span"] {
  min-height: 58px !important;
}
.header .btn-navbar {
  background-color: #1f1f1f !important;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 6px;
  background-image: none;
  box-shadow: none;
  color: #ffffff;
  border: 0;
}
.header .btn-navbar:hover {
  text-decoration: none;
}
.header .nav {
  display: block;
}
.header .nav li.dropdown .dropdown-toggle i {
  color: #eff4f8 !important;
}
.header .nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
  color: #808080 !important;
}
.header .nav > li {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  float: left;
}
.header .nav > li.dropdown .dropdown-toggle {
  margin: 0px;
}
.header .nav > li.dropdown .dropdown-toggle i {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header .nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 10px !important;
  font-weight: 700;
  top: 0px;
  right: 2px;
  text-align: center;
  background-color: #f35958;
  padding: 4px 6px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  text-shadow: none !important;
  color: #ffffff;
}
.header .nav > li.dropdown .active {
  background-color: #0d0f12;
}
.header .nav > li.dropdown.user .dropdown-toggle {
  padding: 8px 4px 7px 9px;
}
.header .nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}
.header .nav > li.quicklinks i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 14px;
  color: #656565 !important;
}
.header .nav > li.quicklinks > a {
  padding: 4px 2px !important;
}
.header .nav .h-seperate {
  height: 6px;
  width: 2px;
  margin: 0px 10px 0px 10px;
  border-left: 1px solid #e1e1e1;
  display: inline;
  position: relative;
  top: 2px;
}
.header .nav .dropdown-menu {
  margin-top: 3px;
}
.header .header-seperation {
  width: 250px;
  display: block;
  float: left;
  height: 60px;
}
.header .header-seperation .notifcation-center {
  margin-right: 15px !important;
}
.header .header-quick-nav input {
  height: 12px !important;
}
.header .notifcation-center {
  background-color: #1b1e24;
  margin-top: 12px;
  margin-right: 15px !important;
  display: inline-flex;
  display: -ms-flexbox;
  direction: ltr;
}
.header .notifcation-center li {
  min-width: 30px !important;
}
.header .notifcation-center li a {
  padding: 10px !important;
  min-height: 17.5px;
}
.header .notifcation-center li a i {
  font-size: 13px !important;
}
.header a {
  text-decoration: none;
}
.header .chat-toggler {
  position: relative;
  top: 10px;
  margin-right: 5px;
  display: inline-block;
  float: left;
}
.header .chat-toggler .user-details {
  display: inline-block;
  float: left;
  line-height: 35px;
}
.header .chat-toggler .user-details .username a {
  color: #1b1e24;
  font-size: 15px;
}
.header .chat-toggler .user-details .company a {
  color: #8b8f92;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
}
.header .chat-toggler .iconset {
  display: inline-block;
  float: left;
  margin: 15px 10px;
}
.header .chat-toggler .profile-pic {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  float: left;
  margin-left: 3px;
}
.header .chat-toggler a {
  color: #1b1e24;
  font-size: 15px;
  display: inline-block;
  float: left;
}
.header .chat-toggler > i {
  color: #808080;
  text-align: right;
  font-size: 20px;
  position: relative;
  padding: 8px;
  top: 8px;
}
.header .chat-toggler .message-count {
  display: inline-block;
  float: left;
}
.header .chat-toggler .message-count .badge {
  position: absolute;
  float: left;
  right: 0;
  top: 0;
}
.header .chat-message-preview {
  border-left: 1px solid #e5e9ec;
  border-right: 1px solid #e5e9ec;
  padding: 4px 15px;
  margin-right: 12px;
}
.header .chat-message-preview .user-details {
  display: inline-block;
  float: left;
}
.header .chat-message-preview .user-details .username a {
  color: #22262e;
  font-weight: 600;
  text-align: right;
}
.header .chat-message-preview .profile-pic {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  float: left;
  height: 35px;
  overflow: hidden;
  width: 35px;
  margin-left: 10px;
}
.header .chat-message-preview a {
  color: #6F7B8A;
}
.header .chat-message-preview .chat-message {
  color: #8b8f92;
  background-color: #e5e9ec;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.header .search-form {
  display: inline-block;
  float: left;
  margin-left: 25px !important;
  top: -4.5px;
  position: relative;
}
.header .popover-title {
  border-bottom: 0px;
  padding-top: 14px;
}
.header .header-separation {
  width: 250px;
  display: block;
  float: left;
  height: 60px;
}
.header .header-separation .notifcation-center {
  margin-right: 15px !important;
}
.header-separation {
  background-color: #22262e;
}
.header-logo {
  width: 50px;
  float: left;
}
.logo {
  margin: 18px 14px;
}
.header-logo-title {
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
}
.header .header-quick-nav {
  padding-right: 10px;
  height: 60px;
  -webkit-transition-duration: 1;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.header .quick-section {
  margin-left: 20px;
  margin-top: 16px;
  margin-right: 10px;
  display: inline-block;
  float: left;
  direction: ltr;
}
.iconset.top-menu-toggle-dark {
  background-position: -288px -7px;
  width: 18px;
  height: 15px;
}
.iconset {
  background: url("/images/icon/top-tray.png") no-repeat;
  position: relative;
  top: 1px;
}
#layout-condensed-toggle {
  display: block;
  position: relative;
}
.badge {
  text-shadow: none;
  font-family: 'Open Sans';
  font-weight: 600;
  background-color: #d1dade;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  color: #5E5E5E;
  border-radius: 10px;
}
.label-important,
.badge-important {
  background-color: #f35958;
  color: #ffffff;
}
.bold {
  font-weight: bold;
}
.iconset.top-down-arrow {
  background-position: -238px -12px;
  width: 7px;
  height: 5px;
}
.header .nav > li {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  float: left;
}
.nav.quick-section.profile-section {
  margin-left: 0px;
  margin-right: 0px;
}
.navbar .pull-right > li.open > .dropdown-menu,
.navbar .nav > li.open > .dropdown-menu.pull-right {
  margin-right: -6px;
  margin-top: 7px;
}
.dropdown-menu.pull-right {
  right: 10px;
  left: auto;
}
.navbar .nav > li > .dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.navbar .nav > li > .dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}
.pull-right.user-profile-section-menu {
  margin-right: 10px;
}
.dropdown-menu .divider {
  background-color: #eaedf0;
  height: 1px;
  margin: 3px 0;
  border-bottom: 0px;
}
.dropdown-menu > li > a {
  line-height: 25px;
  color: #2a2e36;
  margin: 4px;
  border-radius: 3px;
  text-align: left;
  padding: 3px 20px;
  font-weight: 400;
  white-space: nowrap;
  display: block;
  clear: both;
}
.dropdown-menu li {
  padding-left: 0px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #1b1e24;
  text-decoration: none;
  background-color: #eff2f3;
  background-image: none;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #1b1e24;
  text-decoration: none;
  background-color: #eff2f3;
  background-image: none;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
}
a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s !important;
}
a.icon:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .4;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
.page-content {
  margin-top: 0px;
  padding: 0px;
  background-color: #e5e9ec;
  overflow: auto;
  position: relative;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  z-index: 6;
}
.page-content.condensed {
  margin-left: 50px;
}
.page-content.condensed .admin-bar-inner {
  margin-right: 50px !important;
}
.page-content.condensed-layout {
  margin-left: 50px !important;
}
.page-content .admin-bar {
  -moz-box-sizing: border-box;
  bottom: -115px;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-content .admin-bar .admin-bar-inner {
  background: none repeat scroll 0 0 padding-box #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.08);
  padding: 30px 35px 30px 40px;
  text-align: right;
}
.page-content .header {
  padding: 20px !important;
}
.page-content .header h3 {
  font-size: 20px;
  display: inline;
}
.page-content .header i {
  font-size: 18px;
}
.page-content .breadcrumb {
  font-family: 'Open Sans';
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  padding: 0px !important;
  border: none !important;
  margin-bottom: 0px;
}
.page-content .breadcrumb a {
  margin-left: 10px;
}
.page-content .breadcrumb li p {
  font-size: 12.5px !important;
  font-weight: 400;
  color: #7b7d82;
}
.page-content .breadcrumb li .active {
  font-weight: 600;
  font-size: 14px;
}
.page-content .content {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 83px;
}
.page-container {
  -webkit-transition: -webkit-transform 0.3s ease, left 0.3s ease, right 0.3s ease;
  transition: transform 0.3s ease, left  0.3s ease, right  0.3s ease;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100%;
  left: 0;
  z-index: 10;
}